[package]
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"
name = "cumulus-pallet-xcm"
version = "0.1.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
scale-info = { version = "2.5.0", default-features = false, features = ["derive"] }

sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "westmint-9425" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "westmint-9425" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "westmint-9425" }
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "westmint-9425" }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "westmint-9425" }

xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "westmint-9425" }

cumulus-primitives-core = { path = "../../primitives/core", default-features = false }

[features]
default = ["std"]
std = [
	"codec/std",
	"scale-info/std",
	"cumulus-primitives-core/std",
	"sp-std/std",
	"sp-runtime/std",
	"frame-support/std",
	"frame-system/std",
	"xcm/std",
]
try-runtime = ["frame-support/try-runtime"]
