[package]
name = "cumulus-primitives-utility"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [ "derive" ] }
log = { version = "0.4.17", default-features = false }

# Substrate
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
sp-trie = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.28" }

# Polkadot
polkadot-core-primitives = { git = "https://github.com/bernardoaraujor/polkadot", default-features = false, branch = "v0.9.28-xcm-v3" }
polkadot-runtime-common = { git = "https://github.com/bernardoaraujor/polkadot", default-features = false, branch = "v0.9.28-xcm-v3" }
polkadot-parachain = { git = "https://github.com/bernardoaraujor/polkadot", default-features = false, branch = "v0.9.28-xcm-v3" }
polkadot-primitives = { git = "https://github.com/bernardoaraujor/polkadot", default-features = false, branch = "v0.9.28-xcm-v3" }
xcm = { git = "https://github.com/bernardoaraujor/polkadot", default-features = false, branch = "v0.9.28-xcm-v3" }
xcm-executor = { git = "https://github.com/bernardoaraujor/polkadot", default-features = false, branch = "v0.9.28-xcm-v3" }
xcm-builder = { git = "https://github.com/bernardoaraujor/polkadot", default-features = false, branch = "v0.9.28-xcm-v3" }


# Cumulus
cumulus-primitives-core = { path = "../core", default-features = false }

[features]
default = [ "std" ]
std = [
	"codec/std",
	"frame-support/std",
	"sp-runtime/std",
	"sp-std/std",
	"sp-trie/std",
	"sp-io/std",
	"polkadot-core-primitives/std",
	"polkadot-runtime-common/std",
	"polkadot-parachain/std",
	"polkadot-primitives/std",
	"cumulus-primitives-core/std",
	"xcm-executor/std",
]
