## Global Priority

{%- if cumulus.meta.C and cumulus.meta.C.max >= 7-%}
{%- set prio = "❗️HIGH" -%}
{%- set txt = "You must upgrade as as soon as possible" -%}
{%- elif cumulus.meta.C and cumulus.meta.C.max >= 5 -%}
{%- set prio = "📣 Medium" -%}
{%- set txt = "You should upgrade in a timely manner" -%}
{%- elif cumulus.meta.C and cumulus.meta.C.max >= 3 -%}
{%- set prio = "📌 Low" -%}
{%- set txt = "You may upgrade at your convenience" -%}
{%- endif %}

{% if prio %}
{{ prio }}: {{ txt }}
{%- else -%}
<!-- No relevant Priority label as been detected -->
{% endif %}

{# to do: show high prio list here #}
