[workspace]
members = [
	"client/cli",
	"client/consensus/aura",
	"client/consensus/common",
	"client/consensus/relay-chain",
	"client/network",
	"client/pov-recovery",
	"client/service",
	"pallets/aura-ext",
	"pallets/collator-selection",
	"pallets/dmp-queue",
	"pallets/parachain-system",
	"pallets/xcm",
	"pallets/xcmp-queue",
	"primitives/core",
	"primitives/parachain-inherent",
	"primitives/utility",
	"polkadot-parachains",
	"polkadot-parachains/pallets/parachain-info",
	"polkadot-parachains/pallets/ping",
    "polkadot-parachains/integritee-runtime",
	"polkadot-parachains/shell-runtime",
]

[profile.release]
panic = "unwind"
#
#[patch."https://github.com/scs/pallet-substratee-registry"]
#pallet-substratee-registry = { path = "../pallet-substratee-registry", default-features = false }
#ias-verify = { path = "../pallet-substratee-registry/ias-verify", default-features = false }