[workspace]
members = [
	"client/cli",
	"client/consensus/aura",
	"client/consensus/common",
	"client/consensus/relay-chain",
	"client/network",
	"client/pov-recovery",
	"client/service",
	"pallets/aura-ext",
	"pallets/collator-selection",
	"pallets/dmp-queue",
	"pallets/parachain-system",
	"pallets/parachain-system/proc-macro",
	"pallets/session-benchmarking",
	"pallets/xcm",
	"pallets/xcmp-queue",
	"primitives/core",
	"primitives/parachain-inherent",
	"primitives/timestamp",
	"primitives/utility",
	"polkadot-parachains/",
	"polkadot-parachains/pallets/parachain-info",
	"polkadot-parachains/pallets/ping",
	"polkadot-parachains/rococo",
	"polkadot-parachains/shell",
	"polkadot-parachains/parachains-common",
	"polkadot-parachains/statemint",
	"polkadot-parachains/statemine",
	"polkadot-parachains/westmint",
	"test/runtime",
	"test/runtime-upgrade",
	"test/client",
	"test/service",
	"test/relay-sproof-builder",
	"test/relay-validation-worker-provider",
]

[profile.release]
panic = "unwind"
[patch."https://github.com/paritytech/polkadot"]
polkadot-cli ={path = "/Users/gav/Core/polkadot/cli" }
polkadot-node-core-pvf ={path = "/Users/gav/Core/polkadot/node/core/pvf" }
polkadot-core-primitives ={path = "/Users/gav/Core/polkadot/core-primitives" }
polkadot-node-subsystem-util ={path = "/Users/gav/Core/polkadot/node/subsystem-util" }
metered-channel ={path = "/Users/gav/Core/polkadot/node/metered-channel" }
polkadot-node-jaeger ={path = "/Users/gav/Core/polkadot/node/jaeger" }
polkadot-node-primitives ={path = "/Users/gav/Core/polkadot/node/primitives" }
polkadot-parachain ={path = "/Users/gav/Core/polkadot/parachain" }
polkadot-primitives ={path = "/Users/gav/Core/polkadot/primitives" }
polkadot-statement-table ={path = "/Users/gav/Core/polkadot/statement-table" }
polkadot-node-metrics ={path = "/Users/gav/Core/polkadot/node/metrics" }
polkadot-node-network-protocol ={path = "/Users/gav/Core/polkadot/node/network/protocol" }
polkadot-node-subsystem ={path = "/Users/gav/Core/polkadot/node/subsystem" }
polkadot-node-subsystem-types ={path = "/Users/gav/Core/polkadot/node/subsystem-types" }
polkadot-overseer-gen ={path = "/Users/gav/Core/polkadot/node/overseer/overseer-gen" }
polkadot-overseer-gen-proc-macro ={path = "/Users/gav/Core/polkadot/node/overseer/overseer-gen/proc-macro" }
polkadot-node-subsystem-test-helpers ={path = "/Users/gav/Core/polkadot/node/subsystem-test-helpers" }
polkadot-overseer ={path = "/Users/gav/Core/polkadot/node/overseer" }
polkadot-overseer-all-subsystems-gen ={path = "/Users/gav/Core/polkadot/node/overseer/all-subsystems-gen" }
test-parachain-adder ={path = "/Users/gav/Core/polkadot/parachain/test-parachains/adder" }
test-parachain-halt ={path = "/Users/gav/Core/polkadot/parachain/test-parachains/halt" }
polkadot-service ={path = "/Users/gav/Core/polkadot/node/service" }
kusama-runtime ={path = "/Users/gav/Core/polkadot/runtime/kusama" }
pallet-xcm ={path = "/Users/gav/Core/polkadot/xcm/pallet-xcm" }
xcm ={path = "/Users/gav/Core/polkadot/xcm" }
xcm-procedural ={path = "/Users/gav/Core/polkadot/xcm/procedural" }
xcm-executor ={path = "/Users/gav/Core/polkadot/xcm/xcm-executor" }
polkadot-runtime-parachains ={path = "/Users/gav/Core/polkadot/runtime/parachains" }
xcm-builder ={path = "/Users/gav/Core/polkadot/xcm/xcm-builder" }
polkadot-runtime-common ={path = "/Users/gav/Core/polkadot/runtime/common" }
slot-range-helper ={path = "/Users/gav/Core/polkadot/runtime/common/slot_range_helper" }
polkadot-approval-distribution ={path = "/Users/gav/Core/polkadot/node/network/approval-distribution" }
polkadot-availability-bitfield-distribution ={path = "/Users/gav/Core/polkadot/node/network/bitfield-distribution" }
polkadot-availability-distribution ={path = "/Users/gav/Core/polkadot/node/network/availability-distribution" }
polkadot-erasure-coding ={path = "/Users/gav/Core/polkadot/erasure-coding" }
polkadot-node-core-runtime-api ={path = "/Users/gav/Core/polkadot/node/core/runtime-api" }
polkadot-availability-recovery ={path = "/Users/gav/Core/polkadot/node/network/availability-recovery" }
polkadot-client ={path = "/Users/gav/Core/polkadot/node/client" }
polkadot-runtime ={path = "/Users/gav/Core/polkadot/runtime/polkadot" }
rococo-runtime ={path = "/Users/gav/Core/polkadot/runtime/rococo" }
bp-messages ={path = "/Users/gav/Core/polkadot/bridges/primitives/messages" }
bp-runtime ={path = "/Users/gav/Core/polkadot/bridges/primitives/runtime" }
bp-rococo ={path = "/Users/gav/Core/polkadot/bridges/primitives/chain-rococo" }
bp-polkadot-core ={path = "/Users/gav/Core/polkadot/bridges/primitives/polkadot-core" }
bp-wococo ={path = "/Users/gav/Core/polkadot/bridges/primitives/chain-wococo" }
bridge-runtime-common ={path = "/Users/gav/Core/polkadot/bridges/bin/runtime-common" }
bp-message-dispatch ={path = "/Users/gav/Core/polkadot/bridges/primitives/message-dispatch" }
pallet-bridge-dispatch ={path = "/Users/gav/Core/polkadot/bridges/modules/dispatch" }
pallet-bridge-grandpa ={path = "/Users/gav/Core/polkadot/bridges/modules/grandpa" }
bp-header-chain ={path = "/Users/gav/Core/polkadot/bridges/primitives/header-chain" }
bp-test-utils ={path = "/Users/gav/Core/polkadot/bridges/primitives/test-utils" }
pallet-bridge-messages ={path = "/Users/gav/Core/polkadot/bridges/modules/messages" }
bp-rialto ={path = "/Users/gav/Core/polkadot/bridges/primitives/chain-rialto" }
westend-runtime ={path = "/Users/gav/Core/polkadot/runtime/westend" }
polkadot-collator-protocol ={path = "/Users/gav/Core/polkadot/node/network/collator-protocol" }
polkadot-dispute-distribution ={path = "/Users/gav/Core/polkadot/node/network/dispute-distribution" }
polkadot-gossip-support ={path = "/Users/gav/Core/polkadot/node/network/gossip-support" }
polkadot-network-bridge ={path = "/Users/gav/Core/polkadot/node/network/bridge" }
polkadot-node-collation-generation ={path = "/Users/gav/Core/polkadot/node/collation-generation" }
polkadot-node-core-approval-voting ={path = "/Users/gav/Core/polkadot/node/core/approval-voting" }
polkadot-node-core-av-store ={path = "/Users/gav/Core/polkadot/node/core/av-store" }
polkadot-node-core-backing ={path = "/Users/gav/Core/polkadot/node/core/backing" }
polkadot-node-core-bitfield-signing ={path = "/Users/gav/Core/polkadot/node/core/bitfield-signing" }
polkadot-node-core-candidate-validation ={path = "/Users/gav/Core/polkadot/node/core/candidate-validation" }
polkadot-node-core-chain-api ={path = "/Users/gav/Core/polkadot/node/core/chain-api" }
polkadot-node-core-chain-selection ={path = "/Users/gav/Core/polkadot/node/core/chain-selection" }
polkadot-node-core-dispute-coordinator ={path = "/Users/gav/Core/polkadot/node/core/dispute-coordinator" }
polkadot-node-core-dispute-participation ={path = "/Users/gav/Core/polkadot/node/core/dispute-participation" }
polkadot-node-core-parachains-inherent ={path = "/Users/gav/Core/polkadot/node/core/parachains-inherent" }
polkadot-node-core-provisioner ={path = "/Users/gav/Core/polkadot/node/core/provisioner" }
polkadot-rpc ={path = "/Users/gav/Core/polkadot/rpc" }
polkadot-statement-distribution ={path = "/Users/gav/Core/polkadot/node/network/statement-distribution" }
polkadot-test-client ={path = "/Users/gav/Core/polkadot/node/test/client" }
polkadot-test-runtime ={path = "/Users/gav/Core/polkadot/runtime/test-runtime" }
polkadot-test-service ={path = "/Users/gav/Core/polkadot/node/test/service" }
xcm-executor-integration-tests ={path = "/Users/gav/Core/polkadot/xcm/xcm-executor/integration-tests" }
xcm-simulator ={path = "/Users/gav/Core/polkadot/xcm/xcm-simulator" }
xcm-simulator-example ={path = "/Users/gav/Core/polkadot/xcm/xcm-simulator/example" }
polkadot-test-malus ={path = "/Users/gav/Core/polkadot/node/malus" }
polkadot-simnet ={path = "/Users/gav/Core/polkadot/node/test/polkadot-simnet/common" }
polkadot-simnet-node ={path = "/Users/gav/Core/polkadot/node/test/polkadot-simnet/node" }
polkadot-simnet-test ={path = "/Users/gav/Core/polkadot/node/test/polkadot-simnet/test" }
test-parachains ={path = "/Users/gav/Core/polkadot/parachain/test-parachains" }
test-parachain-adder-collator ={path = "/Users/gav/Core/polkadot/parachain/test-parachains/adder/collator" }
staking-miner ={path = "/Users/gav/Core/polkadot/utils/staking-miner" }
polkadot ={path = "/Users/gav/Core/polkadot" }
