[workspace]
resolver = "2"
members = [
	"polkadot-parachains",
    "polkadot-parachains/integritee-runtime",
	"polkadot-parachains/shell-runtime",
	"polkadot-parachains/parachains-common",
]

[profile.release]
panic = "unwind"
#
#[patch."https://github.com/scs/pallet-substratee-registry"]
#pallet-teerex = { path = "../pallet-teerex" }
#ias-verify = { path = "../pallet-teerex/ias-verify" }
