[package]
name = "cumulus-network"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Cumulus-specific networking protocol"
edition = "2018"

[dependencies]
# substrate deps
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "cecton-testing-helpers" }
sp-consensus = { git = "https://github.com/paritytech/substrate", branch = "cecton-testing-helpers" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "cecton-testing-helpers" }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "cecton-testing-helpers" }

# polkadot deps
polkadot-collator = { git = "https://github.com/paritytech/polkadot", branch = "cecton-polkadot-test-runtime" }
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "cecton-polkadot-test-runtime" }
polkadot-statement-table = { git = "https://github.com/paritytech/polkadot", branch = "cecton-polkadot-test-runtime" }
polkadot-validation = { git = "https://github.com/paritytech/polkadot", branch = "cecton-polkadot-test-runtime" }
polkadot-network = { git = "https://github.com/paritytech/polkadot", branch = "cecton-polkadot-test-runtime" }

# cumulus deps
cumulus-primitives = { path = "../primitives" }

# other deps
codec = { package = "parity-scale-codec", version = "1.3.0", features = [ "derive" ] }
futures = { version = "0.3.1", features = ["compat"] }
log = "0.4.8"
parking_lot = "0.10.2"

[dev-dependencies]
cumulus-test-runtime = { path = "../test/runtime" }

# substrate deps
sc-client-api = { git = "https://github.com/paritytech/substrate", branch = "cecton-testing-helpers" }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "cecton-testing-helpers" }
sp-keyring = { git = "https://github.com/paritytech/substrate", branch = "cecton-testing-helpers" }

# polkadot deps
polkadot-test-runtime-client = { git = "https://github.com/paritytech/polkadot", branch = "cecton-polkadot-test-runtime" }
