[package]
name = "cumulus-network"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Cumulus-specific networking protocol"
edition = "2018"

[dependencies]
# substrate deps
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "cecton-use-custom-block-announce-validator" }
sp-consensus = { git = "https://github.com/paritytech/substrate", branch = "cecton-use-custom-block-announce-validator" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "cecton-use-custom-block-announce-validator" }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "cecton-use-custom-block-announce-validator" }

# polkadot deps
polkadot-collator = { git = "https://github.com/paritytech/polkadot", branch = "cecton-use-custom-block-announce-validator" }
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "cecton-use-custom-block-announce-validator" }
polkadot-statement-table = { git = "https://github.com/paritytech/polkadot", branch = "cecton-use-custom-block-announce-validator" }
polkadot-validation = { git = "https://github.com/paritytech/polkadot", branch = "cecton-use-custom-block-announce-validator" }
polkadot-network = { git = "https://github.com/paritytech/polkadot", branch = "cecton-use-custom-block-announce-validator" }

# other deps
codec = { package = "parity-scale-codec", version = "1.3.0", features = [ "derive" ] }
futures = { version = "0.3.1", features = ["compat"] }
log = "0.4.8"
